/* backgrounds */
$background-gradient: linear-gradient(90deg, #28b7dd 0%, #0b7a9e 45%, #023d54 100%);
$background-gradient-qrcode: linear-gradient(90deg, #ffffff 0%, #e8e8e8 45%, #c4c4c4 100%);

/* colors texts */
$text-font: #FFF;

/* border */
$border-bottom: #28b7dd;